
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-info">
  <img src="../../../../assets/img/logo3.png" alt="ALL YOU NEED">

  <a class="navbar-brand logo" href="#">HOME</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav md-auto">

      <li class="nav-item">

        <a class="navbar-brand "  routerLink="products">products</a>

      </li>
      <li class="nav-item">
        <a class="navbar-brand "  routerLink="/cart">cart</a>

      </li>

    </ul>
    <ul class="navbar-nav ms-auto">

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>




    </ul>

  </div>
</nav>
