<div class="box mt-5">

  <div class="my-2 w-25">
  <app-select [data]="categories" [title]="'Categories'" (selectedOption)="filterCategory($event)"></app-select>
  </div>
  <div class="text-center w-100" *ngIf="load">

    <app-spinner></app-spinner>

    </div>
<div class="row" *ngIf="!load">
  <div class="col-md-3 col-sm-12 " *ngFor="let item of products" >
  <!-- <div class="item">
  <div class="body">
  <h4>Some Title</h4>
  <p>Test Add Description</p>
  </div>
  <div class="px-3 mb-2 d-flex justify-content-between align-items -center ">
  <button class="btn btn-success">Add To Cart</button>
  <span>50 L.E</span>
  </div>
  </div> -->



  <app-product [data]="item" (item)="addToCart($event)"></app-product>

  </div>

</div>

<!-- <div class="cont">
  <div class="c 1">aaaaaa</div>
  <div class="c 2">bbbbbb</div>
  <div class="c 3">ccccccc</div>
  <div class="c 4">dddddddddde</div>
  <div class="c 5">eeeeeee</div>

</div> -->
