.item{
  background-color : #f1b4b4;
  padding: 3px 7px;
  border-radius: 30px;
}
img{
  width: 50%;
  height: 50%;
  margin-left: 20%;
}
h4{
height: 75px;
overflow: hidden;
padding: 5px 15px;
font-size: 18px;
background-color: #eee;
font-weight: 600;
margin-top: 10px;
}

span {
background-color : #f1b4b4;
padding: 3px 7px;
border-radius: 30px;
}
.card{
  height: 90%;
margin-left: 10%;
box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}
.card:hover {
  transform:scale(1.1);
}

/* .cont{
display: grid;
grid-template-columns: repeat(3,1fr);
} */
